<%# <h1>Welcome to show page</h1> %>

<section class="card left">
  <div class="card">
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
  </div>
  <div class="comments-container">
    <h4>Comments:</h4>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</section>